.calci{
     padding:0 0;
     width:50%;
     height:auto;
}

.screen{
     width:100%;
     height:100px;
     background-color: grey;
     border-radius:25px;
     font-size: 25px;
}

button{
     margin:0 0;
     height:80px;
     width:25%;
     outline: none;
     border-radius:25px;
     border:1px solid white;
     font-size:25px;
}
.row{
     padding:0 0;
     margin:0;
     display: flex;
     flex-direction: row;
}

.operator , .decimal , .equal-sign {
     background-color: orange;
}
.operator:hover , .decimal:hover, .equal-sign:hover{
     background-color: yellow;
}
.number{
     background-color: blue;
}

.number:hover{
     background-color: lightblue;
}
.zero-btn{
     width:50%;
     background-color: red;
}
.all-clear{
     width:75%;
     background-color: red;
}
.zero-btn:hover{
     background-color:aqua;
}
.all-clear:hover{
     background-color:aqua;
}
